.banner {
  min-height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 100px 0 200px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#000, .4);
    z-index: -1;
  }

  &__heading {
    font-size: 30px;

    @include minMdScreen {
      font-size: 38px;
    }

    @include minLgScreen {
      font-size: 52px;
    }
  }
}
