.form {
  &__label {
    font-weight: 500;
    text-align: left;
    display: block;
  }

  &__input {
    border: 1px solid $grayColor;
    background: $grayColor;
    border-radius: 3px;
    outline: none;
    min-height: 40px;
    width: 100%;
    padding: 10px;
    transition: border 0.5s;
    font-size: 13px;

    &:focus {
      border-color: $blueColor;
      background: #fff;
    }
  }
}
