// global style
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F5F6F7;
  color: #000;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $blueColor;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
